@charset "utf-8";
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

    &.align-center {
      .cell {
         text-align: center;
      }
    }

    tr {
      background-color: #fff;

      td,th {
        border: 1px solid #ebeef5;
        padding: 12px 0;
        min-width: 0;
        box-sizing: border-box;
        text-overflow: ellipsis;
        vertical-align: middle;
        position: relative;

        .cell {
          box-sizing: border-box;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          word-break: break-all;
          line-height: 23px;
          padding-left: 10px;
          padding-right: 10px;
          min-width: 100px;
          font-weight: normal;
          font-size: 12px;
          color:#424242;
        }
      }
    }
  }
