@charset "UTF-8";
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #b0b0b0;
  font-size: 28px; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #b0b0b0;
  font-size: 28px; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #b0b0b0;
  font-size: 28px; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #b0b0b0;
  font-size: 28px; }

/* 验证错误提示 */
.validaerr {
  color: #fc4053;
  font-size: 24px;
  padding-left: 10px; }

/* 公共底部 */
.commonFooter {
  width: 100%;
  height: 95px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.125);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  background-color: #fff; }
  .commonFooter .mint-button {
    width: 40%;
    height: 70px;
    margin: 12px 0;
    font-size: 28px;
    background-color: #bfcad5; }
    .commonFooter .mint-button label {
      color: #ffffff !important;
      border: none;
      display: inline;
      line-height: 70px; }

/* 单选多选底部 */
.ComponentsFooter {
  width: 100%;
  height: 95px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.125);
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff; }
  .ComponentsFooter .mint-button {
    width: 86%;
    height: 70px;
    margin: 12px auto;
    font-size: 28px;
    line-height: 70px;
    display: block; }
    .ComponentsFooter .mint-button label {
      color: #ffffff !important;
      text-align: center !important; }

/* 公共表单 */
.projectForm {
  width: 94%;
  margin: 0 auto; }
  .projectForm .temporal {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    margin: 30px 20px; }
    .projectForm .temporal span {
      color: #06a1ee; }
    .projectForm .temporal b {
      color: #666; }
  .projectForm .block {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 20px 0;
    margin-top: 20px;
    overflow: hidden; }
    .projectForm .block p {
      margin-top: 20px;
      font-size: 28px;
      position: relative; }
    .projectForm .block .form-item:last-child {
      border-bottom: none; }
  .projectForm .zanding .zandiv {
    display: flex;
    justify-content: space-between; }
    .projectForm .zanding .zandiv span {
      line-height: 90px;
      padding: 0 15px;
      font-size: 28px;
      color: #333;
      min-width: 80px;
      text-align: center; }
  .projectForm .zanding .mint-switch {
    width: 150px;
    height: 50px;
    display: inline-block;
    position: relative;
    padding: 0;
    top: 15px; }
    .projectForm .zanding .mint-switch .mint-switch-core {
      width: 150px;
      height: 50px; }
    .projectForm .zanding .mint-switch .mint-switch-label {
      position: absolute;
      left: 5px;
      top: 17px;
      color: #06a1ee;
      font-size: 24px;
      line-height: 28px; }
    .projectForm .zanding .mint-switch .mint-switch-core::before {
      width: 150px;
      height: 50px;
      background-color: #e5e5e5; }
    .projectForm .zanding .mint-switch .mint-switch-core::after {
      width: 75px;
      height: 50px; }
    .projectForm .zanding .mint-switch .mint-switch-input:checked + .mint-switch-core::after {
      left: 55px;
      top: -1px; }
    .projectForm .zanding .mint-switch .mint-switch-input:checked ~ .mint-switch-label {
      color: #fff; }
  .projectForm .form-help {
    position: relative; }
    .projectForm .form-help .iconhelp {
      position: absolute;
      top: 30px;
      left: 180px;
      z-index: 10; }
  .projectForm .form-te .iconhelp {
    left: 400px; }
  .projectForm .form-item {
    width: 100%;
    margin-top: 30px;
    border-bottom: 2px solid #e5e5e5; }
    .projectForm .form-item .addList label {
      color: #fff;
      line-height: 20px; }
    .projectForm .form-item .iconhelp {
      font-size: 28px;
      color: #06a1ee;
      margin: 0 10px; }
    .projectForm .form-item textarea {
      width: 100%;
      min-height: 200px;
      border: 2px solid #e5e5e5;
      border-radius: 10px;
      margin: 30px 0;
      padding: 20px;
      box-sizing: border-box;
      font-size: 28px;
      color: #333;
      background-color: #fff; }
    .projectForm .form-item label {
      display: block;
      text-align: left;
      font-size: 28px;
      color: #666666; }
    .projectForm .form-item input {
      height: 85px;
      border: none;
      width: 100%;
      line-height: 85px;
      font-size: 28px;
      color: #333; }
    .projectForm .form-item .readonly {
      text-align: right;
      color: #06a1ee; }
    .projectForm .form-item .mint-cell {
      min-height: 85px;
      line-height: 85px;
      border: none;
      background-color: transparent !important; }
      .projectForm .form-item .mint-cell span {
        color: #06a1ee; }
      .projectForm .form-item .mint-cell i {
        color: #666;
        font-size: 24px;
        margin-left: 10px; }
      .projectForm .form-item .mint-cell .mint-cell-wrapper {
        font-size: 28px; }
        .projectForm .form-item .mint-cell .mint-cell-wrapper .mint-cell-title span {
          color: #666; }
        .projectForm .form-item .mint-cell .mint-cell-wrapper .mint-cell-value {
          max-width: 70% !important;
          line-height: 40px; }
          .projectForm .form-item .mint-cell .mint-cell-wrapper .mint-cell-value input::-webkit-input-placeholder {
            color: #06a1ee;
            text-align: right; }
    .projectForm .form-item ul {
      width: 100%;
      border-radius: 10px;
      background-color: #f1f5f8; }
      .projectForm .form-item ul li {
        border-bottom: 2px solid #e5e5e5;
        padding: 30px 0;
        margin: 0 30px;
        font-size: 28px;
        color: #666;
        display: flex;
        justify-content: space-between; }
        .projectForm .form-item ul li:last-child {
          border-bottom: none; }
        .projectForm .form-item ul li i {
          color: #333;
          font-size: 28px; }
    .projectForm .form-item .small {
      font-size: 24px !important;
      padding: 5px 0 10px 0 !important; }
  .projectForm .file label {
    color: #06a1ee;
    display: inline-block; }
  .projectForm .file input {
    display: none; }
  .projectForm .inline .mint-cell-wrapper .mint-cell-value {
    width: auto !important; }
  .projectForm .DynamicallyAdd {
    padding: 10px 0px 10px 30px;
    border-radius: 10px;
    margin: 20px 0;
    background-color: #f1f5f8;
    position: relative; }
    .projectForm .DynamicallyAdd .form-item:last-child {
      border: none !important; }
    .projectForm .DynamicallyAdd .iconshanchu {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 28px; }
    .projectForm .DynamicallyAdd .mint-cell-wrapper .mint-cell-value input {
      width: 88%; }
    .projectForm .DynamicallyAdd .mint-cell-wrapper .mint-cell-value .sideslip_cell .mint-cell-value {
      display: flex;
      width: auto; }
    .projectForm .DynamicallyAdd .mint-cell-right {
      line-height: 0; }
      .projectForm .DynamicallyAdd .mint-cell-right .mint-cell-swipe-buttongroup {
        background-color: #f15a24;
        padding: 10px;
        font-size: 28px; }
        .projectForm .DynamicallyAdd .mint-cell-right .mint-cell-swipe-buttongroup a {
          color: #fff;
          line-height: 350px; }
  .projectForm .noborder {
    border: none; }
    .projectForm .noborder .mint-cell i {
      visibility: hidden; }
  .projectForm .short .mint-cell .mint-cell-wrapper .mint-cell-value {
    max-width: 60% !important; }

.formBottom {
  margin: 0 auto 120px; }

.mint-popup {
  width: 100%;
  background-color: #fff; }
  .mint-popup .radiolist {
    width: 90%;
    margin: 20px auto;
    padding-bottom: 95px;
    max-height: 600px;
    overflow: auto; }
    .mint-popup .radiolist p {
      font-size: 28px;
      color: #b3b3b3; }
    .mint-popup .radiolist label {
      border-bottom: 2px solid #e5e5e5;
      width: 100%;
      display: flex;
      height: 90px;
      line-height: 90px;
      font-size: 28px;
      color: #333333;
      justify-content: space-between; }
      .mint-popup .radiolist label span {
        display: inline-block;
        border: 2px solid #d6d6d6;
        background-color: #f8f9fb;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        transform: scale(0.5);
        transform-origin: 0% 0%;
        margin-top: 30px; }
      .mint-popup .radiolist label input[type='radio'] {
        display: none; }
        .mint-popup .radiolist label input[type='radio']:checked + span {
          border: 2px solid #06a1ee;
          background-color: #06a1ee;
          position: relative; }
          .mint-popup .radiolist label input[type='radio']:checked + span::after {
            content: '';
            width: 60px;
            height: 60px;
            background-color: #fff;
            position: absolute;
            top: 15px;
            left: 15px;
            border-radius: 50%;
            z-index: 10;
            transform: scale(0.5);
            transform-origin: 0% 0%; }
  .mint-popup .checkboxlist {
    width: 90%;
    margin: 20px auto;
    padding-bottom: 95px;
    max-height: 700px;
    overflow: auto; }
    .mint-popup .checkboxlist p {
      font-size: 28px;
      color: #b3b3b3; }
    .mint-popup .checkboxlist .mint-cell {
      border-bottom: 2px solid #e5e5e5; }
      .mint-popup .checkboxlist .mint-cell .mint-cell-wrapper .mint-checklist-label {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        font-size: 28px;
        color: #333333;
        width: 100%;
        height: 90px;
        line-height: 90px; }
        .mint-popup .checkboxlist .mint-cell .mint-cell-wrapper .mint-checklist-label .mint-checkbox-core {
          width: 60px;
          height: 60px;
          transform: scale(0.5);
          transform-origin: 0% 0%; }
          .mint-popup .checkboxlist .mint-cell .mint-cell-wrapper .mint-checklist-label .mint-checkbox-core::after {
            top: 15px;
            left: 20px;
            position: absolute;
            width: 20px;
            height: 20px;
            border-width: 4px; }
