<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.data.dao.OldDataJointRecordMapper">
  <resultMap id="BaseResultMap" type="com.hd.data.entity.OldDataJointRecord">
    <id column="contract_id" jdbcType="VARCHAR" property="contractId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="old_dept_id" jdbcType="VARCHAR" property="oldDeptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="old_project_id" jdbcType="VARCHAR" property="oldProjectId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    contract_id, create_date, old_dept_id, dept_name, old_project_id
  </sql>
  <select id="selectByExample" parameterType="com.hd.data.entity.OldDataJointRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from old_data_joint_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from old_data_joint_record
    where contract_id = #{contractId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from old_data_joint_record
    where contract_id = #{contractId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hd.data.entity.OldDataJointRecordExample">
    delete from old_data_joint_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hd.data.entity.OldDataJointRecord">
    insert into old_data_joint_record (contract_id, create_date, old_dept_id, 
      dept_name, old_project_id)
    values (#{contractId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{oldDeptId,jdbcType=VARCHAR}, 
      #{deptName,jdbcType=VARCHAR}, #{oldProjectId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hd.data.entity.OldDataJointRecord">
    insert into old_data_joint_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contractId != null">
        contract_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="oldDeptId != null">
        old_dept_id,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="oldProjectId != null">
        old_project_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contractId != null">
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="oldDeptId != null">
        #{oldDeptId,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="oldProjectId != null">
        #{oldProjectId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hd.data.entity.OldDataJointRecordExample" resultType="java.lang.Long">
    select count(*) from old_data_joint_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update old_data_joint_record
    <set>
      <if test="record.contractId != null">
        contract_id = #{record.contractId,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.oldDeptId != null">
        old_dept_id = #{record.oldDeptId,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null">
        dept_name = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.oldProjectId != null">
        old_project_id = #{record.oldProjectId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update old_data_joint_record
    set contract_id = #{record.contractId,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      old_dept_id = #{record.oldDeptId,jdbcType=VARCHAR},
      dept_name = #{record.deptName,jdbcType=VARCHAR},
      old_project_id = #{record.oldProjectId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hd.data.entity.OldDataJointRecord">
    update old_data_joint_record
    <set>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="oldDeptId != null">
        old_dept_id = #{oldDeptId,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="oldProjectId != null">
        old_project_id = #{oldProjectId,jdbcType=VARCHAR},
      </if>
    </set>
    where contract_id = #{contractId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hd.data.entity.OldDataJointRecord">
    update old_data_joint_record
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      old_dept_id = #{oldDeptId,jdbcType=VARCHAR},
      dept_name = #{deptName,jdbcType=VARCHAR},
      old_project_id = #{oldProjectId,jdbcType=VARCHAR}
    where contract_id = #{contractId,jdbcType=VARCHAR}
  </update>
</mapper>