<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.common.dao.TbProcessTreatyMapper">
  <resultMap id="BaseResultMap" type="com.hd.common.entity.TbProTreatyEntity">
    <id column="treaty_id" jdbcType="VARCHAR" property="treatyId" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="treaty_num" jdbcType="VARCHAR" property="treatyNum" />
    <result column="treaty_type" jdbcType="VARCHAR" property="treatyType" />
    <result column="undertake_type" jdbcType="VARCHAR" property="undertakeType" />
    <result column="treaty_name" jdbcType="VARCHAR" property="treatyName" />
    <result column="treaty_content" jdbcType="VARCHAR" property="treatyContent" />
    <result column="target_cost" jdbcType="DOUBLE" property="targetCost" />
    <result column="contract_type" jdbcType="VARCHAR" property="contractType" />
    <result column="contract_way" jdbcType="VARCHAR" property="contractWay" />
    <result column="purchaser_way" jdbcType="VARCHAR" property="purchaserWay" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_user_id" jdbcType="VARCHAR" property="updateUserId" />
    <result column="is_del_flg" jdbcType="VARCHAR" property="isDelFlg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    treaty_id, project_id, treaty_num, treaty_type, undertake_type, treaty_name, treaty_content, 
    target_cost, contract_type, contract_way, purchaser_way, remark, create_date, create_user_id, 
    update_date, update_user_id, is_del_flg
  </sql>
  <select id="selectByExample" parameterType="com.hd.common.entity.TbProTreatyEntityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_pro_treaty
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_pro_treaty
    where treaty_id = #{treatyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_pro_treaty
    where treaty_id = #{treatyId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hd.common.entity.TbProTreatyEntityExample">
    delete from tb_pro_treaty
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hd.common.entity.TbProTreatyEntity">
    <selectKey keyProperty="treatyId" order="BEFORE" resultType="java.lang.String">
      SELECT uuid()
    </selectKey>
    insert into tb_pro_treaty (treaty_id, project_id, treaty_num, 
      treaty_type, undertake_type, treaty_name, 
      treaty_content, target_cost, contract_type, 
      contract_way, purchaser_way, remark, 
      create_date, create_user_id, update_date, 
      update_user_id, is_del_flg)
    values (#{treatyId,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{treatyNum,jdbcType=VARCHAR}, 
      #{treatyType,jdbcType=VARCHAR}, #{undertakeType,jdbcType=VARCHAR}, #{treatyName,jdbcType=VARCHAR}, 
      #{treatyContent,jdbcType=VARCHAR}, #{targetCost,jdbcType=DOUBLE}, #{contractType,jdbcType=VARCHAR}, 
      #{contractWay,jdbcType=VARCHAR}, #{purchaserWay,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=VARCHAR}, #{isDelFlg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hd.common.entity.TbProTreatyEntity">
    <selectKey keyProperty="treatyId" order="BEFORE" resultType="java.lang.String">
      SELECT uuid()
    </selectKey>
    insert into tb_pro_treaty
    <trim prefix="(" suffix=")" suffixOverrides=",">
      treaty_id,
      <if test="projectId != null">
        project_id,
      </if>
      <if test="treatyNum != null">
        treaty_num,
      </if>
      <if test="treatyType != null">
        treaty_type,
      </if>
      <if test="undertakeType != null">
        undertake_type,
      </if>
      <if test="treatyName != null">
        treaty_name,
      </if>
      <if test="treatyContent != null">
        treaty_content,
      </if>
      <if test="targetCost != null">
        target_cost,
      </if>
      <if test="contractType != null">
        contract_type,
      </if>
      <if test="contractWay != null">
        contract_way,
      </if>
      <if test="purchaserWay != null">
        purchaser_way,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="isDelFlg != null">
        is_del_flg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{treatyId,jdbcType=VARCHAR},
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="treatyNum != null">
        #{treatyNum,jdbcType=VARCHAR},
      </if>
      <if test="treatyType != null">
        #{treatyType,jdbcType=VARCHAR},
      </if>
      <if test="undertakeType != null">
        #{undertakeType,jdbcType=VARCHAR},
      </if>
      <if test="treatyName != null">
        #{treatyName,jdbcType=VARCHAR},
      </if>
      <if test="treatyContent != null">
        #{treatyContent,jdbcType=VARCHAR},
      </if>
      <if test="targetCost != null">
        #{targetCost,jdbcType=DOUBLE},
      </if>
      <if test="contractType != null">
        #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="contractWay != null">
        #{contractWay,jdbcType=VARCHAR},
      </if>
      <if test="purchaserWay != null">
        #{purchaserWay,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="isDelFlg != null">
        #{isDelFlg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hd.common.entity.TbProTreatyEntityExample" resultType="java.lang.Long">
    select count(*) from tb_pro_treaty
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_pro_treaty
    <set>
      <if test="record.treatyId != null">
        treaty_id = #{record.treatyId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.treatyNum != null">
        treaty_num = #{record.treatyNum,jdbcType=VARCHAR},
      </if>
      <if test="record.treatyType != null">
        treaty_type = #{record.treatyType,jdbcType=VARCHAR},
      </if>
      <if test="record.undertakeType != null">
        undertake_type = #{record.undertakeType,jdbcType=VARCHAR},
      </if>
      <if test="record.treatyName != null">
        treaty_name = #{record.treatyName,jdbcType=VARCHAR},
      </if>
      <if test="record.treatyContent != null">
        treaty_content = #{record.treatyContent,jdbcType=VARCHAR},
      </if>
      <if test="record.targetCost != null">
        target_cost = #{record.targetCost,jdbcType=DOUBLE},
      </if>
      <if test="record.contractType != null">
        contract_type = #{record.contractType,jdbcType=VARCHAR},
      </if>
      <if test="record.contractWay != null">
        contract_way = #{record.contractWay,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaserWay != null">
        purchaser_way = #{record.purchaserWay,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserId != null">
        create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null">
        update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelFlg != null">
        is_del_flg = #{record.isDelFlg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_pro_treaty
    set treaty_id = #{record.treatyId,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=VARCHAR},
      treaty_num = #{record.treatyNum,jdbcType=VARCHAR},
      treaty_type = #{record.treatyType,jdbcType=VARCHAR},
      undertake_type = #{record.undertakeType,jdbcType=VARCHAR},
      treaty_name = #{record.treatyName,jdbcType=VARCHAR},
      treaty_content = #{record.treatyContent,jdbcType=VARCHAR},
      target_cost = #{record.targetCost,jdbcType=DOUBLE},
      contract_type = #{record.contractType,jdbcType=VARCHAR},
      contract_way = #{record.contractWay,jdbcType=VARCHAR},
      purchaser_way = #{record.purchaserWay,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      is_del_flg = #{record.isDelFlg,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hd.common.entity.TbProTreatyEntity">
    update tb_pro_treaty
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="treatyNum != null">
        treaty_num = #{treatyNum,jdbcType=VARCHAR},
      </if>
      <if test="treatyType != null">
        treaty_type = #{treatyType,jdbcType=VARCHAR},
      </if>
      <if test="undertakeType != null">
        undertake_type = #{undertakeType,jdbcType=VARCHAR},
      </if>
      <if test="treatyName != null">
        treaty_name = #{treatyName,jdbcType=VARCHAR},
      </if>
      <if test="treatyContent != null">
        treaty_content = #{treatyContent,jdbcType=VARCHAR},
      </if>
      <if test="targetCost != null">
        target_cost = #{targetCost,jdbcType=DOUBLE},
      </if>
      <if test="contractType != null">
        contract_type = #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="contractWay != null">
        contract_way = #{contractWay,jdbcType=VARCHAR},
      </if>
      <if test="purchaserWay != null">
        purchaser_way = #{purchaserWay,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="isDelFlg != null">
        is_del_flg = #{isDelFlg,jdbcType=VARCHAR},
      </if>
    </set>
    where treaty_id = #{treatyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hd.common.entity.TbProTreatyEntity">
    update tb_pro_treaty
    set project_id = #{projectId,jdbcType=VARCHAR},
      treaty_num = #{treatyNum,jdbcType=VARCHAR},
      treaty_type = #{treatyType,jdbcType=VARCHAR},
      undertake_type = #{undertakeType,jdbcType=VARCHAR},
      treaty_name = #{treatyName,jdbcType=VARCHAR},
      treaty_content = #{treatyContent,jdbcType=VARCHAR},
      target_cost = #{targetCost,jdbcType=DOUBLE},
      contract_type = #{contractType,jdbcType=VARCHAR},
      contract_way = #{contractWay,jdbcType=VARCHAR},
      purchaser_way = #{purchaserWay,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      is_del_flg = #{isDelFlg,jdbcType=VARCHAR}
    where treaty_id = #{treatyId,jdbcType=VARCHAR}
  </update>
</mapper>