<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.common.dao.TbTaskReeditHisTaskInstMapper">
  <resultMap id="BaseResultMap" type="com.hd.common.entity.TbTaskReeditHisTaskInst">
    <id column="history_id" jdbcType="VARCHAR" property="historyId" />
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="task_reedit_id" jdbcType="VARCHAR" property="taskReeditId" />
    <result column="process_inst_id" jdbcType="VARCHAR" property="processInstId" />
    <result column="task_key" jdbcType="VARCHAR" property="taskKey" />
    <result column="is_pass" jdbcType="VARCHAR" property="isPass" />
    <result column="reject_reason" jdbcType="VARCHAR" property="rejectReason" />
    <result column="approve_user_id" jdbcType="VARCHAR" property="approveUserId" />
    <result column="approve_time" jdbcType="TIMESTAMP" property="approveTime" />
    <result column="is_del_flg" jdbcType="VARCHAR" property="isDelFlg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    history_id, task_id, task_reedit_id, process_inst_id, task_key, is_pass, reject_reason, 
    approve_user_id, approve_time, is_del_flg
  </sql>
  <select id="selectByExample" parameterType="com.hd.common.entity.TbTaskReeditHisTaskInstExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_task_reedit_his_task_inst
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_task_reedit_his_task_inst
    where history_id = #{historyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_task_reedit_his_task_inst
    where history_id = #{historyId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hd.common.entity.TbTaskReeditHisTaskInstExample">
    delete from tb_task_reedit_his_task_inst
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hd.common.entity.TbTaskReeditHisTaskInst">
    insert into tb_task_reedit_his_task_inst (history_id, task_id, task_reedit_id, 
      process_inst_id, task_key, is_pass, 
      reject_reason, approve_user_id, approve_time, 
      is_del_flg)
    values (#{historyId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, #{taskReeditId,jdbcType=VARCHAR}, 
      #{processInstId,jdbcType=VARCHAR}, #{taskKey,jdbcType=VARCHAR}, #{isPass,jdbcType=VARCHAR}, 
      #{rejectReason,jdbcType=VARCHAR}, #{approveUserId,jdbcType=VARCHAR}, #{approveTime,jdbcType=TIMESTAMP}, 
      #{isDelFlg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hd.common.entity.TbTaskReeditHisTaskInst">
    insert into tb_task_reedit_his_task_inst
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="historyId != null">
        history_id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="taskReeditId != null">
        task_reedit_id,
      </if>
      <if test="processInstId != null">
        process_inst_id,
      </if>
      <if test="taskKey != null">
        task_key,
      </if>
      <if test="isPass != null">
        is_pass,
      </if>
      <if test="rejectReason != null">
        reject_reason,
      </if>
      <if test="approveUserId != null">
        approve_user_id,
      </if>
      <if test="approveTime != null">
        approve_time,
      </if>
      <if test="isDelFlg != null">
        is_del_flg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="historyId != null">
        #{historyId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="taskReeditId != null">
        #{taskReeditId,jdbcType=VARCHAR},
      </if>
      <if test="processInstId != null">
        #{processInstId,jdbcType=VARCHAR},
      </if>
      <if test="taskKey != null">
        #{taskKey,jdbcType=VARCHAR},
      </if>
      <if test="isPass != null">
        #{isPass,jdbcType=VARCHAR},
      </if>
      <if test="rejectReason != null">
        #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="approveUserId != null">
        #{approveUserId,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null">
        #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelFlg != null">
        #{isDelFlg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hd.common.entity.TbTaskReeditHisTaskInstExample" resultType="java.lang.Long">
    select count(*) from tb_task_reedit_his_task_inst
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_task_reedit_his_task_inst
    <set>
      <if test="record.historyId != null">
        history_id = #{record.historyId,jdbcType=VARCHAR},
      </if>
      <if test="record.taskId != null">
        task_id = #{record.taskId,jdbcType=VARCHAR},
      </if>
      <if test="record.taskReeditId != null">
        task_reedit_id = #{record.taskReeditId,jdbcType=VARCHAR},
      </if>
      <if test="record.processInstId != null">
        process_inst_id = #{record.processInstId,jdbcType=VARCHAR},
      </if>
      <if test="record.taskKey != null">
        task_key = #{record.taskKey,jdbcType=VARCHAR},
      </if>
      <if test="record.isPass != null">
        is_pass = #{record.isPass,jdbcType=VARCHAR},
      </if>
      <if test="record.rejectReason != null">
        reject_reason = #{record.rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="record.approveUserId != null">
        approve_user_id = #{record.approveUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.approveTime != null">
        approve_time = #{record.approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelFlg != null">
        is_del_flg = #{record.isDelFlg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_task_reedit_his_task_inst
    set history_id = #{record.historyId,jdbcType=VARCHAR},
      task_id = #{record.taskId,jdbcType=VARCHAR},
      task_reedit_id = #{record.taskReeditId,jdbcType=VARCHAR},
      process_inst_id = #{record.processInstId,jdbcType=VARCHAR},
      task_key = #{record.taskKey,jdbcType=VARCHAR},
      is_pass = #{record.isPass,jdbcType=VARCHAR},
      reject_reason = #{record.rejectReason,jdbcType=VARCHAR},
      approve_user_id = #{record.approveUserId,jdbcType=VARCHAR},
      approve_time = #{record.approveTime,jdbcType=TIMESTAMP},
      is_del_flg = #{record.isDelFlg,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hd.common.entity.TbTaskReeditHisTaskInst">
    update tb_task_reedit_his_task_inst
    <set>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="taskReeditId != null">
        task_reedit_id = #{taskReeditId,jdbcType=VARCHAR},
      </if>
      <if test="processInstId != null">
        process_inst_id = #{processInstId,jdbcType=VARCHAR},
      </if>
      <if test="taskKey != null">
        task_key = #{taskKey,jdbcType=VARCHAR},
      </if>
      <if test="isPass != null">
        is_pass = #{isPass,jdbcType=VARCHAR},
      </if>
      <if test="rejectReason != null">
        reject_reason = #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="approveUserId != null">
        approve_user_id = #{approveUserId,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null">
        approve_time = #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelFlg != null">
        is_del_flg = #{isDelFlg,jdbcType=VARCHAR},
      </if>
    </set>
    where history_id = #{historyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hd.common.entity.TbTaskReeditHisTaskInst">
    update tb_task_reedit_his_task_inst
    set task_id = #{taskId,jdbcType=VARCHAR},
      task_reedit_id = #{taskReeditId,jdbcType=VARCHAR},
      process_inst_id = #{processInstId,jdbcType=VARCHAR},
      task_key = #{taskKey,jdbcType=VARCHAR},
      is_pass = #{isPass,jdbcType=VARCHAR},
      reject_reason = #{rejectReason,jdbcType=VARCHAR},
      approve_user_id = #{approveUserId,jdbcType=VARCHAR},
      approve_time = #{approveTime,jdbcType=TIMESTAMP},
      is_del_flg = #{isDelFlg,jdbcType=VARCHAR}
    where history_id = #{historyId,jdbcType=VARCHAR}
  </update>
</mapper>