@charset "utf-8";
.more-sublevel{
	
	/* 文件列表 */
	.file-list {
		.el-upload-list__item {
			width: 94%;
			margin: auto;
			
			/* 第一个文件项 */
			&:first-child{
				margin-top: 0;
			}
			.el-icon-download {
				display: none;
				position: absolute;
				right: 25px;
				bottom: 5px;
				cursor: pointer;
				opacity: 0.75;
				color: #606266;
			}
	
			&:hover {
				.el-icon-download {
					display: inline-block;
				}
			}
		}
	}
}
